/.cache
/node_modules
*.log
/errors
/test.js
/test.ts
/test.css
/.vscode
/dist
.DS_Store
coverage
.idea
package-lock.json
/test-results
test-app/node_modules
craco-antd-*.tgz

# Cypress
**/cypress/screenshots/
**/cypress/videos/